
/* Custom CSS */

.left-content{
  text-align: justify;
}

.service-detail{
  margin-top:  10%;
}

.service-detail-title{
  text-align: center;
  color: chocolate;
}

.service-detail-description{
  text-align: justify;
}

.service-detail-image{
 margin-left: 24%;
}



/* hello-test */